  .product-information {
    gap: 40px;
    padding: 40px 0px;
  }

  @media(min-width:768px) {
    .product-information {
      padding: 60px 0px;
    }
  }

  /* Base grid layout */
  .product-information__grid {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    gap: 20px;

    @media screen and (min-width:1280px) {
      gap: 48px;
    }

  }

  /* Default column positions */
  .product-details {
    order: 1;
  }

  .product-information__media {
    order: 0;
    width: 100%;
    min-width: 100%;
  }

  .product-information__media .product-media-gallery__placeholder-image {
    width: 100%;
    height: 100%;
  }

  /* Mobile styles */
  @media screen and (max-width: 749px) {
    .product-information__grid {
      display: flex !important;
      flex-direction: column !important;
    }

    .product-information__media {
      order: 1 !important;
      width: 100% !important;
      max-width: 100% !important;
    }

    .product-details {
      order: 2 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  /* Desktop styles */
  @media screen and (min-width: 750px) {
    .product-information__grid {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    .product-information__grid .product-information__media {
      flex: 1 1 55%;
      min-width: 0;
      display: block;
      width: auto;
      min-width: unset;
    }

    .product-information__grid .product-details {
      flex: 1 1 45%;
      min-width: 0;
    }

    /* Position when there is no media */
    .product-information__grid.product-information--media-none {
      .product-details {
        width: var(--narrow-content-width);
        margin: 0 auto;
        flex: none;
      }
    }

    /* Media on the right side */
    .product-information__grid.product-information--media-right .product-information__media {
      order: 1;
    }

    .product-information__grid.product-information--media-right .product-details {
      order: 0;
    }

    /* Handle full width section */
    .section--full-width {
      .product-information__grid:not(.product-information--media-none) {

        &.product-information--media-left .product-details {
          padding-inline-end: var(--padding-lg);
        }

        &.product-information--media-right .product-details {
          padding-inline-start: var(--padding-lg);
        }
      }
    }
  }

  /* Wider sidebar for large screens */
  @media screen and (min-width: 1200px) {

    .product-information__grid:not(.product-information__grid--half,
      .product-information--media-none).product-information--media-left {
      .product-information__media {
        flex: 1 1 60%;
      }

      .product-details {
        flex: 1 1 40%;
      }
    }

    .product-information__grid:not(.product-information__grid--half,
      .product-information--media-none).product-information--media-right {
      .product-information__media {
        flex: 1 1 60%;
      }

      .product-details {
        flex: 1 1 40%;
      }
    }
  }

  .product-information__grid--limit-details .product-details>.group-block {
    --details-max-width: var(--sidebar-width);
    max-width: var(--details-max-width);
  }

  @media screen and (min-width: 1600px) {
    .product-information__grid--limit-details .product-details>.group-block {
      --details-max-width: 32rem;
    }
  }

  /* If the header is sticky, make product details content stick underneath the header */
  body:has(#header-group #header-component[data-sticky-state='active']) .product-details.sticky-content--desktop {
    --sticky-header-offset: var(--header-height);
  }


  .product-information .price {
    font-size: 16px;
    font-weight: bold;
  }

  @media(min-width:767px) {
    .product-information .price {
      font-size: 20px;
    }
  }

  /* One line for quantity and buy buttons */
  .product-information .product-form-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 12px;
  }

  .product-information .product-form-buttons>* {
    flex: 1 1 auto !important;
    margin: 0 !important;
  }

  /* Prevent the quantity wrapper from expanding and leaving blank space */
  .product-information .product-form-buttons>.quantity-selector-wrapper {
    flex: 0 0 auto !important;
  }

  .product-information .quantity-selector {
    flex: 0 0 auto !important;
    width: 120px !important;
    /* Set a fixed width for the quantity input */
  }

  /* Custom Product Title Styles */
  .custom-product-title,
  .product-details .text-block h1 {
    font-size: 24px !important;

  }

  @media screen and (min-width: 768px) {

    .custom-product-title,
    .product-details .text-block h1 {
      font-size: 32px !important;

    }
  }

  /* Remove spacing from product details text blocks */
  .product-details .spacing-style {
    padding: 0 !important;
    margin: 0 !important;
  }